@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@font-face {
	font-family: whmChinese;
	src: local("Microsoft JhengHei"), local("Microsoft YaHei"), local("Heiti TC"), local("LiHei Pro"), local("WenQuanYi Zen Hei"), local("PMingLiU");
	unicode-range: U+2018-2026, U+3000-300F, U+4E00-9FFF, U+FF01-FF1F; /* Chinese */
}

html {
	font-family: whmChinese, Open Sans, Segoe UI, sans-serif;
	font-size: 12.5px;
	font-weight: 400;
	color: #787878; /* Text Color */
	padding: 0;
	margin: 0;
	overflow-y: scroll; /* Always show Scrollbar */
}

body {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #e0e0e0 0x, #fafafa 80px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0px,#e0e0e0), color-stop(80px,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0e0e0 0px,#fafafa 80px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0e0e0 0px,#fafafa 80px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0e0e0 0px,#fafafa 80px); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

b {
	font-weight: 600;
}

#header a:link { color: #888888; text-decoration: none; }
#header a:visited { color: #888888; text-decoration: none; }
#header a:active { color: #5A5A5A; }
#header a:hover { color: #6B6B6B; }

#main a:link { color: #4F85BB; text-decoration: none; }
#main a:visited { color: #4F85BB; text-decoration: none; }
#main a:active { color: #31587F; }
#main a:hover { color: #3B6998; }

#footer a:link { color: #D8D8D8; text-decoration: none; }
#footer a:visited { color: #D8D8D8; text-decoration: none; }
#footer a:active { color: #FFF; }
#footer a:hover { color: #FFF; }

#header {
	width: 100%;
	top: 0px;
	position: related;
	
	/* Start of Gradient */
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #e0e0e0 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0e0e0 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0e0e0 0%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0e0e0 0%,#fafafa 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
	/* End of Gradient */
}

#header_content {
	width: 1200px;
	line-height: 40px;
	vertical-align: middle;
	margin-right: auto;
    margin-left: auto;
	color: #888888;
	font-size: 18px;
}

#header_content_small {
	width: 1200px;
	line-height: 40px;
	vertical-align: middle;
	margin-right: auto;
    margin-left: auto;
	color: #888888;
	font-size: 12.5px;
}

.header_pipe {
	padding-right: 12px;
	padding-left: 12px;
	font-size: 32px;
	font-weight: 100;
	color: #e2e2e2;
}

.header_pipe_small {
	padding-right: 9px;
	padding-left: 9px;
	font-size: 16px;
	font-weight: 100;
	color: #F0F0F0;
}

.header_glowing-border {
    border: 1px solid #dadada;
    border-radius: 3px;
}

.header_glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

#main {
	width: 100%;
	position: relative;
	padding-bottom: 80px;
	/* Start of Gradient */
	background: rgb(250,250,250); /* Old browsers */
	/* End of Gradient */
}

#main_content {
	width: 1200px;
	padding: 10px;
	margin-right: auto;
    margin-left: auto;
}

#footer {
	width: 100%;
	bottom: 0px;
	position: fixed;
	
	/* Start of Gradient */
	background: rgb(79,133,187); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, rgb(79,133,187,0) 0%, rgb(79,133,187,1) 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(79,133,187,0)), color-stop( 0%, rgb(79,133,187,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(79,133,187,0) 0%, rgb(79,133,187,1) 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(79,133,187,0) 0%, rgb(79,133,187,1) 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(79,133,187,0) 0%, rgb(79,133,187,1) 40%); /* IE10+ */
	
	/* background: -moz-linear-gradient(top, #fafafa 0%, #4f85bb 40%); /* FF3.6+ */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(40%,#4f85bb)); /* Chrome,Safari4+ */
	/* background: -webkit-linear-gradient(top, #fafafa 0%,#4f85bb 40%); /* Chrome10+,Safari5.1+ */
	/* background: -o-linear-gradient(top, #fafafa 0%,#4f85bb 40%); /* Opera 11.10+ */
	/* background: -ms-linear-gradient(top, #fafafa 0%,#4f85bb 40%); /* IE10+ */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */
	/* End of Gradient */
}

#footer_content {
	width: 1200px;
	height: 30px;
	margin-right: auto;
    margin-left: auto;
	margin-top: 10px;
	color: #D8D8D8;
	font-size: 12px;
	padding: 10px;
}

div[id^="categoryid"], div[id^="announcementid"], div[id^="serverid"], div[id^="planid"], div[id^="promotionid"], div[id^="faqid"], div[id^="terms"], div[id^="privacy"] {
	color: #FFFFFF;
	font-weight: ;
	border: 1px solid #e7e7e7;
	/* height: 48px; */

	/* Start of Gradient */
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #207cca 51%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
	/* End of Gradient */
}

table {
	font-size: 12.5px;
}

form {
	font-size: 12.5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(79,133,187,0), rgba(79,133,187,0.75), rgba(79,133,187,0)); 
    background-image:    -moz-linear-gradient(left, rgba(79,133,187,0), rgba(79,133,187,0.75), rgba(79,133,187,0)); 
    background-image:     -ms-linear-gradient(left, rgba(79,133,187,0), rgba(79,133,187,0.75), rgba(79,133,187,0)); 
    background-image:      -o-linear-gradient(left, rgba(79,133,187,0), rgba(79,133,187,0.75), rgba(79,133,187,0)); 
	background-image:     -ms-linear-gradient(left, rgba(79,133,187,0), rgba(79,133,187,0.75), rgba(79,133,187,0));
}

.sortable:hover {
	cursor: move;
}